<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>CoConsult</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="/assets/Front/css/bootstrap.min.css" rel="stylesheet">

        <link href="/assets/Front/css/bootstrap-icons.css" rel="stylesheet">
        
        <link href="/assets/Front/css/templatemo-topic-listing.css" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg {{ isScrolled ? 'scrolled' : '' }} " >
                <div class="container">
                    <a class="navbar-brand" href="index.html" >
                        <img src="/assets/Back/images/logo.png" style="width:90px; height:80px;">
                    
                        
                    </a>
    

    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Home</a>
                            </li>

    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">Our work</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">CRM</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Contact</a>
                            </li>

                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>
            

            <section class="hero-section1 d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class=" text-center">Streamline your business. <span class="x_wd_yellow_highlight_bold_05">one platform</span>, endless possibilities  </h1>
                           
                            <h6 class="text-center">Simple, efficient, yet <span class="x_wd_blue_highlight_01 position-relative">affordable!</span></h6>
                            
                                
                            


                            <div class="buttons">
                                <button class="start" routerLink="/register">Start Now</button>
                                <button class="sign" routerLink="/login">Log In</button>
                                
                            </div>

                                   

                        </div>

                    </div>
                </div>
            </section>


            <section class="featured-section">
                <div class="container">
                    
                    <div class="row justify-content-center">
                    
                        <div class="col-lg-8 col-16">
                            
                            <div class="custom-block custom-block-overlay" >
                               
                                <div class="d-flex flex-column">


                                    <div class="custom-block-overlay-text d-flex">
                                        
                                        <div class="con">

                                           
                                            <p class="text-white">The processing time for accounting documents has been noticeably 
                                                reduced, in certain cases even from 2 days to only 5 hours. 
                                                As a result we can now focus on what matters: reporting and advising the client.</p>
                                        
                                            </div>

                                        </div>
                                    </div>

                                    <div class="section-overlay">
                                        <div class="author">
                                            <img  src="/assets/Front/images/harry.png" alt="Avatar">
                                            <p>Harry Van Donink<br>
                                                CEO KPMG Belgium</p>
                                           </div>
                                        
                                    </div>
                                </div>
                            </div>
                       

                    </div>
                </div>
            </section>



            <section class="timeline-section section-padding" id="section_3">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">Level <span class="bluecolor">up</span> your quality of work</h2>
                        </div>
                        <div class="image-grid">
                            <div class="row1">
               
                                <img src="/assets/Front/images/captures/nacer.jpg"alt="architecture">
                                <h6 class="text-white mb-4">Experience true speed, reduced data entry,<br> smart AI, and a fast UI.
                                    <br> All operations are done in less than 90ms <span class="bluecolor"><br>- faster than a blink. </span> </h6>
                        </div>
                           <div class="row2"> 
                            <img  src="/assets/Front/images/captures/staz.jpg" alt="architecture">
                            <img src="/assets/Front/images/captures/coverpic.jpg"alt="architecture"></div>
                           
                        </div>
                    
                    </div>
                </div>
            </section>


            <section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <h2 class="titrecan">Enterprise software
                                done right</h2>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-5 col-12">
                            <img src="/assets/Front/images/captures/canban.JPG" class="img-fluid" alt="FAQs">
                        </div>

                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="titlejoin" >
                                            Highly customizable
                                        </button>
                                    </h2>

                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Use Coconsult platform to automate actions, design custom backlogs, custom reports, or web hooks. 
                                            <strong>No corporate bullsh*t</strong>
                                            "With most systems, you get 70% of what you hoped. With Coconsult, you get more than what you expected. You, guys, will transform the market." 
                                        </div>
                                    </div>
                                </div>

                              
                                    <div class="btnclasse">
                                        <button class="btnjoin" routerLink="/register">
                                        Join Us Now
                                    </button>
                                </div>
                       

                                
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="contact-section section-padding section-bg" id="section_5">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Get in touch</h2>
                        </div>

                        <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                            <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5524.015115408327!2d10.177326334779902!3d36.888127295744255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cbc8efdc61e3%3A0xa77bea9f5a67980f!2sAgence%20Banque%20Zitouna%20Cit%C3%A9%20El%20Ghazela!5e0!3m2!1sen!2stn!4v1714950670319!5m2!1sen!2stn" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                            <h4 class="mb-3">Head office</h4>

                            <p>Tunisie, Ariana, Ghazela,1, 2083</p>

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Phone</span>

                                <a href="tel:+21629843730" class="site-footer-link">
                                    29843730
                                </a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="mailto:info@company.com" class="site-footer-link">
                                    coconsult@gmail.com
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mx-auto">
                            <h4 class="mb-3">Bizert office</h4>

                            <p>Tunisie &amp;,Bizert,El Alia,1, 7016</p>

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Phone</span>

                                <a href="tel:+21692103963" class="site-footer-link">
                                    92103963
                                </a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="mailto:info@company.com" class="site-footer-link">
                                    info@coconsult.com
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </section>
        </main>

<footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="index.html">
                            <i class="bi-back"></i>
                            <span>Topic</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">How it works</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: 305-240-9671" class="site-footer-link">
                                305-240-9671
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Thai</button></li>

                                <li><button class="dropdown-item" type="button">Myanmar</button></li>

                                <li><button class="dropdown-item" type="button">Arabic</button></li>
                            </ul>
                        </div>

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
                        
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="/assets/Front/js/jquery.min.js"></script>
        <script src="/assets/Front/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/Front/js/jquery.sticky.js"></script>
        <script src="/assets/Front/js/click-scroll.js"></script>
        <script src="/assets/Front/js/custom.js"></script>
        

    </body>
</html>
