<div class="home">
    <div class="header">
      <!-- <h1>Dashboard</h1> -->
      <div class="content">
        <div class="total-task-chart">
          <div class="chart">
            <canvas #chartCanvas width="200" height="200"></canvas>

          </div>
          <!-- <div class="total-task">
            <p class="data">{{type}}</p>
            <p class="data-type">Places</p>
          </div> -->
        </div>
        <div>

        </div>
      </div>
    </div>
  </div>