<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-10 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Add Resource</h1>
    </div>
  
    <div class="row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block bg-white">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="profile-tab">Fill in resource details</button>
                    </li>
                </ul> 

                <form class="custom-form profile-form" [formGroup]="resourceForm" (submit)="onSubmit()">
                    <label>Name:</label>
                    <input class="form-control" type="text" formControlName="name" required>
                    <div *ngIf="checkValidity('name')">
                        <small class="text-danger" *ngIf="resourceForm.get('name')?.errors?.['required']">Name is required.</small>
                        <small class="text-danger" *ngIf="!resourceForm.get('name')?.errors?.['required']">Name should contain only letters and spaces.</small>
                    </div>
  
                    <label>Description:</label>
                    <input class="form-control" type="text" formControlName="description" required>
                    <div *ngIf="checkValidity('description')">
                        <small class="text-danger" *ngIf="resourceForm.get('description')?.errors?.['required']">Description is required.</small>
                        <small class="text-danger" *ngIf="!resourceForm.get('description')?.errors?.['required']">Description should contain only letters and spaces.</small>
                    </div>
  
                    <label>Price:</label>
                    <input class="form-control" type="number" formControlName="price" required>
  
                    <label class="me-2">Category:</label>
                    <div class="d-flex align-items-center">                    
                        <select class="form-control me-3 custom-select" formControlName="categorie" required>
                            <option value="">-- Select Category --</option>
                            <option value="ELECTRONICS">Electronics</option>
                            <option value="FURNITURE">Furniture</option>
                            <option value="VEHICULES">Vehicles</option>
                        </select>
                    </div>
                    
                    <!-- Ajout du champ pour téléverser l'image -->
                    <label>Image:</label>
                    <input type="file" formControlName="file" (change)="onFileSelected($event)">
                    <div *ngIf="checkValidity('file')">
                        <small class="text-danger">Image is required.</small>
                    </div>
            
                    <br>
                    <br>
                   
                    <button type="submit" [disabled]="resourceForm.invalid" class="form-control ms-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</main>
