<link rel="preconnect" href="https://fonts.googleapis.com">
        
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                
<link href="/assets/Front/css/bootstrap.min.css" rel="stylesheet">

<link href="/assets/Front/css/bootstrap-icons.css" rel="stylesheet">

<link href="/assets/Front/css/templatemo-topic-listing.css" rel="stylesheet">     

<app-navbar-front></app-navbar-front>
<router-outlet></router-outlet>
<app-footer-front></app-footer-front>


<script src="/assets/Front/js/jquery.min.js"></script>
<script src="/assets/Front/js/bootstrap.bundle.min.js"></script>
<script src="/assets/Front/js/jquery.sticky.js"></script>
<script src="/assets/Front/js/click-scroll.js"></script>
<script src="/assets/Front/js/custom.js"></script>
