<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-10 px-md-4 border-start">
    <div class="title-group mb-3">

    </div>

    <div class="row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block bg-white">
                <div class="title">
                <h3><i class="bi bi-file-earmark-plus-fill"></i> Add New Paiment </h3>
            </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <form class="custom-form profile-form" role="form" [formGroup]="Paimentform" (ngSubmit)="onSubmit()">
                           
                          
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="endDate">Paiment Date <span class="required">*</span></label>
                                    <input class="form-control" type="datetime-local" formControlName="payment_date" required>
                                  </div>
                              <div class="col-md-6">
                                <label for="item_description">Amount Paied</label>
                                <input class="form-control" type="number" name="profile-email" id="profile-email" formControlName="amount" required>
                              </div>
                              
                            </div>
                          
                           
                          
                            <div class="row">
                              <div class="col-md-6">
                                <label for="contract_status">Type Paiment <span class="required">*</span></label>
                                <select id="contractStatus" formControlName="typepaiment" required class="form-select">
                                 
                                  <option value="cash">Cash</option>
                                  <option value="check">Check</option>
                                  <option value="creditcard">Credit Card</option>
                                </select>
                              </div>
                              
                            </div>
                          
                            <div class="subbtn">
                                
                                  <button type="submit" [disabled]="Paimentform.invalid" class="form-control mt-3">
                                    Save
                                  </button>
                                
                              </div>
                          </form>
                          
                          
                    </div>


                </div>
            </div>
        </div>

        
      
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-12">
                    <p class="copyright-text">Copyright © CoConsult 2024 
                    - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
                </div>

            </div>
        </div>
    </footer>
</main>