.custom-select {
    max-width: 100%; /* Ajustez la largeur maximale selon vos besoins */
    height: auto; /* Pour permettre à la liste déroulante de s'adapter à son contenu */
    min-height: 2.25rem; /* Définissez la hauteur minimale de la liste déroulante */
}

.table-primary {
    border: 2px solid #3d74af; /* Bordure de 1 pixel solide de couleur bleue */
    border-radius: 0.25rem; /* Rayon de bordure arrondi */
}