
<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="title-group mb-3">
            <h1 class="h2 mb-0">Absences</h1>
        </div>
          <button class="btn btn-outline-primary" [routerLink]="['/admin/calendarAbsence/']"><i class="bi bi-file-pdf"></i>Go to Calendar</button>
    </div>

       <div>
        <input
          type="text"
          class="form-control"
          id="startingLetter"
          [(ngModel)]="startingLetter"
          (input)="onInput($event)"
          placeholder="Enter the cause"
          style="width: 250px;"
        />
      </div>
    <div class="row my-4" *ngFor="let absence of absences  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <div class="col-lg-12 col-12">
            <div class="custom-block custom-block-transation-detail bg-white">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">

                        <div style="display: flex; align-items: center;">
                            <h6 style="color: #333; margin-right: 5px;">Cause :</h6>
                            <p> {{ absence.motif }}</p>
                        </div>
                        <div>
                            <p>{{absence.emp!=null? absence.emp.posteEmployee:' no empl' }}</p>
                            <!-- <p>{{ absence?.username }}</p> -->
                        </div>
                    
                </div>

                <div class="d-flex flex-wrap align-items-center">
                    <div class="custom-block-transation-detail-item mt-4 ms-auto me-auto" style="background-color: #f0f8ff; border-radius: 8px; padding: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <h6 style="color: #333;">Date</h6>
                        <p style="font-weight: bold; color: #007bff;">{{ absence.date }}</p>
                    </div>
                    

                    <div class="custom-block-transation-detail-item mt-4 ms-lg-auto px-lg-3 px-md-3">
                        <h6>Validated</h6>   
                        <p class="{{ absence.validee ? 'text-success' : 'text-danger' }}">
                            {{ absence.validee ? 'Validated' : 'Not Validated' }}
                        </p>
                    </div>
                    <div class="custom-block-transation-detail-item mt-4 ms-lg-auto px-lg-3 px-md-3">
                    <h4>Justification</h4>
                    <div class="card mb-3" *ngIf="absence.image">
                        <img src="{{ absence.image.imageUrl }}" class="card-img-top" alt="Image 1" style="max-height: 100px;">

                    </div>
                </div>

                    <div class="d-flex justify-content-center mt-4">
                        <div class="custom-block-transation-detail-item me-2">
                            <button type="button" class="btn btn-outline-danger" (click)="removeAbsence(absence.id_absence)">Delete</button>
                        </div>
                        <div class="custom-block-transation-detail-item ms-2">
                            <button type="button" class="btn btn-outline-success" [routerLink]="['/admin/EditAbsence/'+ absence.id_absence]">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
</main>
