<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Statistics</h1>

        <small class="text-muted"> Resource management related graphs </small>
    </div>


    <div class="row my-4">

        <div class="custom-block bg-white">

            <canvas id="barChart"></canvas>
        </div>
        <div class="col-lg-7 col-12">

          
            <div class="custom-block custom-block-balance">
             

                <canvas id="canvas" width="400" height="400"></canvas>

            </div>
        </div>

     
       
    

    </div>
</main>
