.navbar-nav .dropdown-menu {
  border-color: transparent;
  border-radius: var(--border-radius-small);
  position: absolute;
}
.dropdown-menu[data-bs-popper] {
  right: 0;
  left: auto;
}
.gohome a{
color: white;
font-size: larger;}
 #home{
  color: yellow;
}

.gohome a:hover{
  color:yellow;
}
.gohome{
  background-color:rgb(26, 90, 163);
  border-radius: 15px;
  height: 30px;
  width: 100px;
  text-align: center
}