.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: 1rem;
}

.list-group-item {
  border: none;
}

.detail-name {
  font-weight: bold;
}

.detail-value {
  font-style: italic;
}
input[type="date"] {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="date"]:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.spacer {
  height: 20px; /* Adjust the height as needed */
}

.message {
  color: red; /* Change the color as needed */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}