<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">{{ isEditMode ? 'Update Leave' : 'Add Leave' }}</h1>
    </div>

    <div class="flex items-center row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block bg-white p-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="profile-tab">Fill in Leave Details</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <form class="custom-form profile-form" [formGroup]="CongeForm" (ngSubmit)="onSubmit()">
                            <div class="mb-3">
                                <label for="date_debut" class="form-label">Start Date</label>
                                <input class="form-control" type="date" id="date_debut" formControlName="date_debut" required>
                            </div>
                            <div class="mb-3">
                                <label for="date_fin" class="form-label">End Date</label>
                                <input class="form-control" type="date" id="date_fin" formControlName="date_fin" required>
                            </div>
                            <div class="mb-3">
                                <label for="typeC" class="form-label">Conge Type</label>
                                <select class="form-select" formControlName="typeC">
                                    <option *ngFor="let poste of postes" [value]="poste">{{ poste }}</option>
                                </select>                            
                            </div>  
                           
                            <div class="mb-3">
                                <label for="commentaire" class="form-label">Comment</label>
                                <input class="form-control" type="text" id="commentaire" placeholder="Enter commentaire" formControlName="commentaire" required>
                            </div>
                            <div class="card-header">
                                <h5>Justification</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <mat-form-field class="mb-3">
                                            <ngx-mat-file-input placeholder="Single Upload" id="image" #imageInputFile
                                                                (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                                            </ngx-mat-file-input>
                                            <mat-icon matSuffix></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <div *ngIf="image || (isEditMode && imageUrl)">
                                          <div>
                                            <img class="image-thumbnail" style="max-width: 100px" [src]="image ? imageMin : imageUrl">
                                          </div>
                                        </div>
                                      </div>
                                </div>

                            </div>
                            
                            

                            <div class="alert alert-danger" *ngIf="errorMessage">
                                {{ errorMessage }}
                              </div>
                            <div class="d-flex">
                                <button type="button" class="btn btn-secondary me-3" (click)="onCancel()">
                                  Cancel
                                </button>
                                <button type="submit" [disabled]="CongeForm.invalid" class="btn btn-primary ms-2">
                                  {{ isEditMode ? 'Update Conge' : 'Add Conge' }}
                                </button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
