<div class="container">
  <div class="row">
    <div class="col">
      <h1>Liste des Recrutements</h1>
      </div>
    </div>
    <div class="row">
      <input type="text" [(ngModel)]="searchText" class="input-search" placeholder="Search...">
      <div class="col" *ngFor="let recrutement of recrutements | searchFilter: searchText">
     
      <div class="card mb-3">
        <div class="card-body">
          <h1 class="card-text">  {{ recrutement.typeRecrutement }}</h1>
          <p class="card-title"> {{ recrutement.poste }}</p>
          <p class="card-text">experience : {{ recrutement.experience }}</p>
          <p class="card-text"> {{ recrutement.niveauDetude }}</p>
            <p class="card-text"> {{ recrutement.lieu }}</p>
            <p class="card-text"> {{ recrutement.salaire }} dt</p>
            <p class="card-text">postes Vacants : {{ recrutement.postesVacants }}</p>
            <a [routerLink]="['/candidat', recrutement.idRec]" class="btn btn-primary">postuler</a>
        </div>
      </div>