<head> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>


<main>
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Projects. Clients. </h1>

                    <h6 class="text-center">platform for creatives around the world</h6>

                
                </div>
                <div class="wrapper">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <ul class="carousel">
                      <li class="card">
                        <div class="img"></div>
                        <h2>Blanche Pearson</h2>
                        <span>Sales Manager</span>
                      </li>
                      <li class="card">
                        <div class="img"></div>
                        <h2>Joenas Brauers</h2>
                        <span>Web Developer</span>
                      </li>
                      <li class="card">
                        <div class="img"></div>
                        <h2>Lariach French</h2>
                        <span>Online Teacher</span>
                      </li>
                      <li class="card">
                        <div class="img"></div>
                        <h2>James Khosravi</h2>
                        <span>Freelancer</span>
                      </li>
                      <li class="card">
                        <div class="img"></div>
                        <h2>Kristina Zasiadko</h2>
                        <span>Bank Manager</span>
                      </li>
                      <li class="card">
                        <div class="img"></div>
                        <h2>Donald Horton</h2>
                        <span>App Designer</span>
                      </li>
                    </ul>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                  </div>
            </div>
        </div>
    </section>



    <section class="explore-section section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="mb-4">Browse Topics</h2>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Project</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Contact Team</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Contract</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">Feedback</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade " id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Contact via Messages</h5>
                                                   
                                                </div>
                                                <span class="badge bg-design rounded-pill ms-auto"><i class="bi bi-chat-dots"></i></span>
                                            </div>
                                           
                                        </a>
                                    </div>
                                </div>
                            
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Video Conference Project Team </h5>
                                                    <a  class="btn custom-btn mt-2 mt-lg-3" href="/video">Video Call <i class="bi bi-telephone-fill"></i></a>
                                                   
                                                </div>
                                                <span class="badge bg-design rounded-pill ms-auto"><i class="bi bi-telephone-fill"></i></span>
                                            </div>
                                            
                                        </a>
                                    </div>
                                </div>
                            </div>
²                            
                        </div>

                        <div class="tab-pane fade " id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Advertising</h5>

                                                        <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">30</span>
                                                </div>

                                                <img src="images/topics/undraw_online_ad_re_ol62.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Video Content</h5>

                                                        <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">65</span>
                                                </div>

                                                <img src="images/topics/undraw_Group_video_re_btu7.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Viral Tweet</h5>

                                                        <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                                                </div>

                                                <img src="images/topics/undraw_viral_tweet_gndb.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                            </div>
                          </div>

                        <div class="tab-pane fade show active" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2" style="color: #536DFE;font-weight:bold;">{{project.projectname}}</h5>

                                                    <p class="mb-0" class="descp">{{project.projectdescription}}</p>
                                                </div>

                                                <span class="badge bg-finance rounded-pill ms-auto" style="width: auto;">{{project.status}}</span>
                                            </div>

                                          
                                        </a>
                                        <div class="dates">
                                        <h5 class="mb-2" style="color: #536DFE;font-weight:bold;"><span  style="color: #606166;">Start Date :</span>{{project.startDate | date:'yyyy-MM-dd HH:mm'}}</h5>
                                        <h5 class="mb-2" style="color: #536DFE;font-weight:bold;"><span  style="color: #606166;">End Date :</span>{{project.endDate | date:'yyyy-MM-dd HH:mm'}}</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-block custom-block-overlay">
                                        <div class="d-flex flex-column h-100">
                                            <img src="images/businesswoman-using-tablet-analysis-graph-company-finance-strategy-statistics-success-concept-planning-future-office-room.jpg" class="custom-block-image img-fluid" alt="">

                                            <div class="custom-block-overlay-text d-flex">
                                                <div>
                                                   
                                                 <a  class="btn custom-btn mt-2 mt-lg-3">Track Project Porgress</a>
                                                </div>

                                                <span class="badge bg-finance rounded-pill ms-auto">40%</span>
                                            </div>

                                            <div class="social-share d-flex">
                                                <p class="text-white me-4">Share:</p>

                                                <ul class="social-icon">
                                                    <li class="social-icon-item">
                                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                                    </li>

                                                    <li class="social-icon-item">
                                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                                    </li>

                                                    <li class="social-icon-item">
                                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                                    </li>
                                                </ul>

                                                <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                            </div>

                                            <div class="section-overlay"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Composing Song</h5>

                                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                </div>

                                                <span class="badge bg-music rounded-pill ms-auto">45</span>
                                            </div>

                                            <img src="images/topics/undraw_Compose_music_re_wpiw.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Online Music</h5>

                                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                </div>

                                                <span class="badge bg-music rounded-pill ms-auto">45</span>
                                            </div>

                                            <img src="images/topics/undraw_happy_music_g6wc.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Podcast</h5>

                                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                </div>

                                                <span class="badge bg-music rounded-pill ms-auto">20</span>
                                            </div>

                                            <img src="images/topics/undraw_Podcast_audience_re_4i5q.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<script src="/src/assets/Front/jsaziz/AgoraRTC_N-4.7.3.js"></script>
<script src='/src/assets/Front/jsaziz/agora.js'></script>