<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

<main>

    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white text-center">Browse Orders</h2>
                </div>
            </div>

            <br><br>

            <div class="progress-wrapper">
                <div class="progress-labels">
                    <h5>Treated: </h5>
                
                </div>
            
                    <progress-bar [progress]="progressPercentage.toString()" ></progress-bar>
               
             </div>

             <div class="row my-4" *ngFor="let commande of commandes | paginate: { itemsPerPage: 5, currentPage: p }">
                <div class="col-lg-12 col-12">
                    <div class="custom-block custom-block-transation-detail bg-white">
                        <div class="d-flex flex-wrap align-items-center border-bottom pb-3 mb-3">
                            <div class="d-flex flex-wrap align-items-center ">
                                <div class="me-3">
                                    <h6 class="mb-0">Quantity:</h6>
                                </div>
                                <div>
                                    <p class="mb-0">{{ commande.quantity }}</p>
                                </div>
                            </div>                         
                        </div>
            
                        <div class="d-flex flex-wrap align-items-center mt-3">
                            <div class="custom-block-transation-detail-item me-4 flex-grow-1"> <!-- Utilisation de 'flex-grow-1' pour répartir l'espace -->
                                <h6>Category:</h6>
                                <p>{{ commande.categorieStock }}</p>
                            </div>
                            <div class="custom-block-transation-detail-item me-4 flex-grow-1"> <!-- Utilisation de 'flex-grow-1' pour répartir l'espace -->
                                <h6>Status:</h6>
                                <p>{{ commande.statusCommande }}</p>
                            </div>
                            <div class="ms-auto d-flex"> <!-- Utilisation de 'd-flex' pour aligner les boutons côte à côte -->
                                <div class="custom-block-transation-detail-item me-2">
                                    <button type="button" class="btn btn-outline-danger" (click)="removeCommande(commande.commandeID)">Cancel</button>
                                </div>
                                <div class="custom-block-transation-detail-item">
                                    <button type="button" class="btn btn-success" (click)="marquerCommandeCommeArrivee(commande.commandeID)">Validate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
                                
                                    <div class="pagination">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                      </div>
                               
        </div>
    </section>
</main>

<script src="/src/assets/Front/jsaziz/AgoraRTC_N-4.7.3.js"></script>
<script src='/src/assets/Front/jsaziz/agora.js'></script>
</body>
</html>
