<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Add Task</h1>
    </div>

    <div class="row my-2"> 
        <div class="col-lg-7 col-12">
            <div class="custom-block bg-white">
                <form class="custom-form profile-form" role="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                    <div class="mb-1 rounded row"> 
                        <label for="taskname" class="col-sm-3 col-form-label">Task Name</label>
                        <input class="form-control col-sm-9" type="text" name="taskname" placeholder="Task Name" formControlName="taskname" required>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="taskdescription" class="col-sm-3 col-form-label">Description</label>
                        <input class="form-control col-sm-9" type="text" name="taskdescription" placeholder="Task Description" formControlName="taskdescription" required>
                    </div>
                
                    <div class="mb-1 rounded row"> 
                        <label for="startDate" class="col-sm-3 col-form-label">Start Date</label>
                        <input class="form-control col-sm-9" type="date" name="startDate" placeholder="Start Date" formControlName="startDate" required>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="endDate" class="col-sm-3 col-form-label">End Date</label>
                        <input class="form-control col-sm-9" type="date" name="endDate" placeholder="End Date" formControlName="endDate" required>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="duration" class="col-sm-3 col-form-label">Duration</label>
                        <input class="form-control col-sm-9" type="text" name="duration" placeholder="Duration" formControlName="duration" required>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="priority" class="col-sm-3 col-form-label">Priority</label>
                        <select class="form-select col-sm-9" formControlName="priority" placeholder="Priority">
                            <option *ngFor="let priority of priorityOptions" [value]="priority">{{ priority }}</option>
                        </select>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="progression" class="col-sm-3 col-form-label">Progression</label>
                        <input class="form-control col-sm-9" type="number" name="progression" placeholder="Progression" formControlName="progression" required>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="status" class="col-sm-3 col-form-label">Status</label>
                        <select class="form-select col-sm-9" formControlName="status" placeholder="Status">
                            <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
                        </select>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="dueDate" class="col-sm-3 col-form-label">Due Date</label>
                        <input class="form-control col-sm-9" type="date" name="dueDate" placeholder="Due Date" formControlName="dueDate" required>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="typeDependance" class="col-sm-3 col-form-label">Type Dependence</label>
                        <select class="form-select col-sm-9" formControlName="typeDependance" placeholder="Type Dependence">
                            <option *ngFor="let type of typeDependanceOptions" [value]="type">{{ type }}</option>
                        </select>
                    </div>
                    <div class="mb-1 rounded row"> 
                        <label for="projectId" class="col-sm-3 col-form-label">Project</label>
                        <select class="form-select col-sm-9" formControlName="projectId" placeholder="Project">
                            <option *ngFor="let project of projects" [value]="project.projectid">{{ project.projectname }}</option>
                        </select>
                    </div>

                    <div class="d-flex">
                        <button type="button" class="form-control me-3">Cancel</button>
                        <button type="submit" [disabled]="taskForm.invalid" class="form-control ms-2">Add Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add other content or remove this section as needed -->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <p class="copyright-text">Copyright © Mini Finance 2048 
                    - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
                </div>
            </div>
        </div>
    </footer>
</main>
