<main class="main-wrapper col-md-12 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
  <button type="button" class="btn btn-custom" *ngIf="bestProject">
    <span>Best Project of this year</span>
    <span class="badge">{{ bestProject.projectname }}</span>
  </button>
<br>
  <div class="table-responsive">
    <table class="account-table table">
      <thead>
        <tr style="background-color: rgb(203, 209, 221);">
          <th scope="col">Project</th>
          <th scope="col">Status</th>
          <th scope="col">Priority</th>
          <th scope="col">Budget</th>
          <th scope="col">Timeline</th>
          <th scope="col">Team</th>
          <th scope="col"></th>
        </tr> 
      </thead>
      <tbody>
        <tr *ngFor="let project of projects" (click)="toggleTasks(project.projectid)">
          <td scope="row">
            <div class="d-flex px-2 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-xs">{{project.projectname}}</h6>
              </div>
            </div>
          </td>
          <td scope="row">
            <p class="text-xs font-weight-bold mb-0">{{project.status}}</p>
          </td>
          <td scope="row">
            <span class="badge badge-sm badge-success">{{project.priority}}</span>
          </td>
          <td scope="row">
            <p class="text-xs font-weight-bold mb-0">{{project.budget}} DT</p>
          </td>
          <td scope="row">
            <span class="text-secondary text-xs font-weight-normal">{{project.startDate | date}} - {{project.endDate | date}}</span>
          </td>
          <td scope="row">
            <h6 class="mb-0 text-xs">{{project?.team?.team_name}}</h6>
          </td>
        </tr>
        <!-- Sous-tableau pour les tâches -->
        <ng-container *ngFor="let project of projects">
          <ng-container *ngIf="projectTasksVisible && selectedProjectId === project.projectid">
            <tr>
              <td colspan="6">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th scope="col">task</th>
                        <th scope="col">Status</th>
                        <th scope="col">dueDate</th>
                        <th scope="col">owner</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let task of tasks">
                        <td scope="row">{{ task.taskname}}</td>
                        <td scope="row">{{ task.status }}</td>
                        <td scope="row">{{ task.dueDate | date }}</td>
                        <td scope="row">{{ task.owner }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</main>
