<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/kanban" routerLinkActive="active">Kanban</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/calendarT/:id" routerLinkActive="active">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#" routerLinkActive="active">Gantt</a>
    </li>
    <li class="nav-item">
       <button class="button-40 float-md-end" role="button" [routerLink]="['/admin/addtask']">Add Task</button>
    </li>
  </ul>
  <br>
  <br>
  <div class="d-flex justify-content-end mb-3"> <!-- Utiliser la classe "justify-content-end" pour aligner le bouton à droite -->
    <button type="button" class="btn btn-primary btn-sm me-2" (click)="sortTasks()">Sort Tasks</button> <!-- Ajouter la classe "btn-sm" pour un bouton plus petit -->
  </div>

  <div class="row">
    <div class="col-xl-12"> <!-- Utiliser col-xl-12 pour occuper toute la largeur sur les écrans extra larges -->
      <!-- Iterate over tasks -->
      <div class="card border shadow-none mb-4 col-12" *ngFor="let task of tasks | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <div class="card-body">
          <div class="task-status">
            <span *ngIf="task.status === 'DONE'">
              <i class="bi bi-check-circle-fill text-success"></i> <!-- Icône de coche pour le statut "Terminé" -->
            </span>
            <span *ngIf="task.status === 'IN_PROGRESS'">
              <i class="bi bi-clock-fill text-warning"></i> <!-- Icône de pendule pour le statut "En cours" -->
            </span>
          </div>
          <!-- Task name -->
          <h5 class="font-size-18 mb-0">{{ task.taskname }}</h5>
          <br>
          <!-- Task description -->
          <p class="text-muted mb-2">{{ task.taskdescription }}</p>

          <div class="row">
            <!-- Start Date -->
            <div class="col-md-4">
              <div class="mt-3">
                <p class="text-muted mb-2">Start Date:</p>
                <h6 class="mb-0">{{ task.startDate | date }}</h6>
              </div>
            </div>

            <!-- End Date -->
            <div class="col-md-4">
              <div class="mt-3">
                <p class="text-muted mb-2">End Date:</p>
                <h6 class="mb-0">{{ task.endDate | date }}</h6>
              </div>
            </div>

            <!-- Action buttons -->
            <div class="col-md-4">
              <div class="mt-3">
                <button class="btn btn-danger me-2" (click)="onDeleteTask(task.taskid)">
                  <i class="bi bi-trash"></i> 
                </button>
                <button class="btn btn-primary" (click)="onUpdateTask(task.taskid)" style="background-color: #71b6cd; color: #ffffff;">
                  <i class="bi bi-pencil"></i> 
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</main>
