<div class="profile-container">
  <td>
    <img [src]="currentUser.image" alt="Avatar" width="50" height="50">
  </td>
  <h2>Modifier le profil</h2>
    <div class="form-group">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username" [(ngModel)]="currentUser.username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="currentUser.email" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="image">Image URL:</label>
      <input type="text" id="image" name="image" [(ngModel)]="currentUser.image" class="form-control">
    </div>

   
    

    

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
</div>