<div>
  <h2>Forgot Password</h2>
  <div>
    <input type="text" [(ngModel)]="email" placeholder="Email">
    <button (click)="forgotPassword(email)">Forgot Password</button>
  </div>
</div>

<div>
  <h2>Reset Password</h2>
  <div>
    <input type="text" [(ngModel)]="email" placeholder="Email">
    <input type="text" [(ngModel)]="code" placeholder="Code">
    <input type="password" [(ngModel)]="newPassword" placeholder="New Password">
    <button (click)="resetPassword(email, code, newPassword)">Reset Password</button>
  </div>
</div>