<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Add Commande</h1>
    </div>
  
    <div *ngIf="showStep1" class="row my-4">
        <div class="col-lg-12">
            <div class="custom-block bg-white">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="profile-tab">Fill in order details</button>
                    </li>
                </ul>

                <form class="custom-form profile-form" [formGroup]="commandeForm" (submit)="onNextStep()">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label>Quantity:</label>
                                <input class="form-control" type="number" formControlName="quantity" required>
                            </div>

                            <div class="mb-3">
                                <label>Location:</label>
                                <select class="form-control custom-select" formControlName="location" required>
                                    <option value="">-- Select Location --</option>
                                    <option value="Tunis-centre">Tunis-centre</option>
                                    <option value="Ariana">Ariana</option>
                                    <option value="Ghazela">Ghazela</option>
                                    <option value="Lac 1">Lac 1</option>
                                    <option value="Lac 2">Lac 2</option>
                                    <option value="Charguia">Charguia</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label>Category:</label>
                                <select class="form-control custom-select" formControlName="categorieStock" required>
                                    <option value="">-- Select Category --</option>
                                    <option value="ELECTRONICS">Electronics</option>
                                    <option value="FURNITURE">Furniture</option>
                                    <option value="VEHICULES">Vehicles</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="submit" [disabled]="commandeForm.invalid" class="btn btn-primary float-end">Next</button>
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="!showStep1" class="row my-4">
        <div class="col-lg-12">
            <div class="custom-block bg-white">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fournisseur of fournisseurs" (click)="selectFournisseur(fournisseur)" [class.table-primary]="isSelected(fournisseur)">
                            <td>{{ fournisseur.nom }}</td>
                            <td>{{ fournisseur.score }}</td>
                            <td>{{ fournisseur.typeFournisseur }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex">
                <button type="button" (click)="onSave()" class="form-control ms-2" >Save</button>
            </div>
            </div>
        </div>
    </div>
</main>
