<main
  class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start"
>
  <div class="title-group mb-3">
    <h1 class="h2 mb-0">Contracts</h1>
  </div>

  <div
    class="row my-4"
    *ngFor="
      let absence of absences
        | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
    "
  >
    <div class="col-lg-12 col-12">
      <div class="custom-block custom-block-transation-detail bg-white">
        <div class="d-flex flex-wrap align-items-center border-bottom pb-3 mb-3">
            <div class="d-flex justify-content-between w-100">
              <div>
                <p>RIB : {{ absence.rib }}</p>
              </div>
              <div>
                <p>{{ absence.empl != null ? absence.empl.posteEmployee : "there's no employee" }}</p>
              </div>
            </div>
          </div>
          
        <div class="d-flex flex-wrap align-items-center">
          <div class="custom-block-transation-detail-item mt-4">
            <h6>Type Contract</h6>
            <p>{{ absence.typeCE }}</p>
          </div>

          <div class="custom-block-transation-detail-item mt-4 mx-auto px-4">
            <h6>Weekly duration</h6>
            <p>{{ absence.duree_hebdomadaire }}</p>
          </div>
          <div class="custom-block-transation-detail-item mt-4 mx-auto px-4">
            <h6>Weekly duration</h6>
            <p>{{ absence.salaire_base }}</p>
          </div>          <div class="custom-block-transation-detail-item mt-4 mx-auto px-4">
            <h6>Hour work</h6>
            <p>{{ absence.montant_heures_supplementaires }}</p>
          </div>          <div class="custom-block-transation-detail-item mt-4 mx-auto px-4">
            <h6>Hour conge</h6>
            <p>{{ absence.montant_Conge_Absence }}</p>
          </div>

          <div
            class="custom-block-transation-detail-item mt-4 ms-auto me-auto"
            style="
              background-color: #f0f8ff;
              border-radius: 8px;
              padding: 15px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <h6 style="color: #333">Start date</h6>
            <p style="font-weight: bold; color: #007bff">
              {{ absence.date_debut }}
            </p>
          </div>
          <div
            class="custom-block-transation-detail-item mt-4 ms-auto me-auto"
            style="
              background-color: #f0f8ff;
              border-radius: 8px;
              padding: 15px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <h6 style="color: #333">End date</h6>
            <p style="font-weight: bold; color: #007bff">
              {{ absence.date_fin }}
            </p>
          </div>

          <div
            class="custom-block-transation-detail-item mt-4 ms-lg-auto px-lg-3 px-md-3"
          >
            <h6>Archive</h6>
            <p class="{{ absence.isArchive ? 'text-success' : 'text-danger' }}">
              {{ absence.isArchive ? "Validée" : "Non Validée" }}
            </p>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <div class="custom-block-transation-detail-item me-2">
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="removeAbsence(absence.id_contrat_e)"
              >
                Delete
              </button>
            </div>
            <div class="custom-block-transation-detail-item ms-2">
              <button
                type="button"
                class="btn btn-outline-success"
                [routerLink]="[
                  '/admin/editContratEmployee/' + absence.id_contrat_e
                ]"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</main>
