<main
  class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start"
>
<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="title-group">
      <h1 class="h2 mb-0">Leaves</h1>
    </div>
  </div>


  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <input
        type="text"
        class="form-control"
        id="startingLetter"
        [(ngModel)]="startingLetter"
        (input)="onInput($event)"
        placeholder="Enter the comment"
      />
    </div>
    <ng-container *ngIf="absences">
      <app-circular-chart-conge></app-circular-chart-conge>
    </ng-container>
  </div>
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <button class="btn btn-outline-primary mr-3" [routerLink]="['/admin/calendar/']"><i class="bi bi-file-pdf"></i>Go to calendar</button>


    <div style="margin-top: 20px;">
      <select id="stateFilter" [(ngModel)]="selectedStatus" (change)="filterActivitiesByState()" class="custom-select">
        <option value="All">All</option>
        <option value="PENDING">PENDING</option>
        <option value="REJECTED">REJECTED</option>
        <option value="VALIDATED">VALIDATED</option>
      </select>
    </div>
  </div>
    
  
  

  <div class="row my-4" *ngFor="let absence of filteredAbsences  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">

    <div class="col-lg-12 col-12">
      <div class="custom-block custom-block-transation-detail bg-white">
        <div
          class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3"
        >
          <div style="display: flex; align-items: center;">
            <h6 style="color: #333; margin-right: 5px;">Comment :</h6>
            <p> {{ absence.commentaire }}</p>
        </div>
        <div>
        </div>

          <div>
            <h5>{{ usernames[absence.employee?.userId] ? usernames[absence.employee?.userId] : 'no employee' }}</h5>
          </div>
        </div>
        
        <div class="d-flex flex-wrap align-items-center">
          <div class="custom-block-transation-detail-item mt-4">
            <h6>Type</h6>
            <p>{{ absence.typeC }}</p>
          </div>

          <div class="custom-block-transation-detail-item mt-4 mx-auto px-4" [ngClass]="{ 'text-yellow': absence.statutC == status[1], 'text-red': absence.statutC == status[1], 'text-green': absence.statutC == status[1] }">
            <h6>Status</h6>
            <p>{{ absence.statutC }}</p>
        </div>

          <div
            class="custom-block-transation-detail-item mt-4 ms-auto me-auto"
            style="
              background-color: #f0f8ff;
              border-radius: 8px;
              padding: 15px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <h6 style="color: #333">Start date</h6>
            <p style="font-weight: bold; color: #007bff">
              {{ absence.date_debut }}
            </p>
          </div>
          <div
            class="custom-block-transation-detail-item mt-4 ms-auto me-auto"
            style="
              background-color: #f0f8ff;
              border-radius: 8px;
              padding: 15px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <h6 style="color: #333">End date</h6>
            <p style="font-weight: bold; color: #007bff">
              {{ absence.date_fin }}
            </p>
          </div>
          <div
            class="custom-block-transation-detail-item mt-4 ms-lg-auto px-lg-3 px-md-3"
          >
            <h4>Justification</h4>
            <div class="card mb-3" *ngIf="absence.image">
              <img
                src="{{ absence.image.imageUrl }}"
                class="card-img-top"
                alt="Image 1"
                style="max-height: 100px"
              />
            </div>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <div class="custom-block-transation-detail-item me-2">
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="removeAbsence(absence.id_conge)"
              >
                Delete
              </button>
            </div>
            <div class="custom-block-transation-detail-item ms-2">
              <button
                type="button"
                class="btn btn-outline-success"
                [routerLink]="['/admin/EditConge/' + absence.id_conge]"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</main>